<div class="row" style="padding: 5px;">
  <div class="col col-12" style="text-align: center!important;">

    <mat-card style="background-color: white; min-height: 88vh;" > 
      <mat-card-header class="content">
      </mat-card-header>
      <mat-card-content class="padre" style="min-height: 60vh!important;">
        <div class="padre" style="min-width: 100%!important;">
          <div class="hijo" style="min-width: 100%!important;">
            <div class="row">
              <div class="col">
                <br>
                <img src="assets/images/cfrontal.png" width="80%" style="max-width: 350px;" height="auto" />
              
              </div>
            </div>
            <br>
            <div class="snapshot" *ngIf="webcamImage">
  
              <img [src]="webcamImage.imageAsDataUrl" width="100%" style="max-width: 400px;" height="auto" />
              <br>
              <br>
              <button pButton type="button" class="btn btn-danger btn-circle btn-xl" icon="pi pi-undo"
              (click)="volverTomar()"></button>
              <br><br>
                 Presione el botón para volver a tomar la foto.
            </div>
            <div *ngIf="showWebcam">
              <webcam [width]="320"   [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
                [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
                [videoOptions]="videoOptions" [imageQuality]="1" (cameraSwitched)="cameraWasSwitched($event)"
                (initError)="handleInitError($event)">
               
              </webcam>
  
              <div class="row">
                <div class="col">
                  <br>
                  <button pButton type="button" class="btn btn-danger btn-circle btn-xl" icon="pi pi-camera"
                    (click)="triggerSnapshot();"></button>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <div  *ngIf="webcamImage">
          <p>
            <button pButton type="button" label="Continuar" class="ui-button-raised"
                style="width: 250px;font-size: large;" (click)="Siguiente()"></button>
        </p>
        </div>
      </mat-card-actions>
    </mat-card>
    <canvas width="180px" style="max-width: 400px;" height="180px"  ></canvas>
  <script>
    var lienso=document.querySelector("canvas");
    var context=lienso.getContext("2d");
    context.fillStyle="cyan";
    context.fillRect(20,20,100,50)
    
  </script>