<div class="row" style="padding: 5px;">
    <div class="col col-12" style="text-align: center!important;">

        <mat-card style="background-color: white;min-height: 88vh; ">
            <mat-card-header class="content">

            </mat-card-header>
            <mat-card-content class="padre" style="min-height: 70vh!important;">
                <div class="padre" style="min-width: 100%!important;">
                    <div class="hijo" style="min-width: 100%!important;">
                        <div  >
                          
                            <h1>Validación Cédula</h1>
                            <h4 >1. Evita contra luces, lugares oscuros y asegurate
                                de enfocar correctamente tu cédula.
                            </h4>
                            <h4>2. Asegurate que las fotos de la cédula sean legibles.
                            </h4>
                            <h4>3. Se te solicitará tomar la foto de ambos lados de tu cédula.
                            </h4>
                        </div>
                        <br>
                            <img style="height: auto ; width: 100%; max-width: 400px;" src="assets/images/cedula-03.png"
                                class="img-fluid">
                        
                        
                    </div>
                </div>


            </mat-card-content>
            <mat-card-actions>
                <p>
                    <button pButton type="button" label="Entendido" class="ui-button-raised"
                        style="width: 250px;font-size: large;" (click)="Siguiente()"></button>
                </p>
            </mat-card-actions>
        </mat-card>
    </div>
</div>